@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  height: 100vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 120px;
}

ul {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.main {
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 200px;
  gap: 10px;
}

.post-1 {
  grid-column: 1 / 1;
  grid-row: 1 / 4;
  width: 100%;
}
