@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+TZ:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    height: 100vh;
    background-color: #fffcf2;
}

/* HEADER */

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    padding: 1rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}

.nav-links h2 {
    /* padding: 1rem; */
    font-size: 4rem;
    margin: 2rem 0;
    font-family: "Dancing Script";
}

ul {
    padding: 0;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: #252422;
    font-family: "Roboto";
    font-weight: 400;
}

/* MAIN CONTENT - POSTS */

.post-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.posts {
    display: grid;

    max-width: 1600px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "posts0 posts1"
        "posts2 posts3";
    padding: 4rem;
    gap: 1rem;
}

.post {
    /* padding: 2rem; */
    border: 1px solid #000;
}

.posts img {
    width: 100%;
    max-height: 200px;
}
.post-cont {
    padding: 0 1rem 1rem;
}

.post span {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem;
}

/* SINGLE POST  */
.singlepost {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.singlepost-wrap {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.singlepost-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.singlepost-info {
    display: flex;
    width: 500px;
    gap: 0.5rem;
    color: #aaa;
}

.singlepost-nav {
    display: flex;
    gap: 2rem;
}

.singlepost-nav button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.singlepost-content {
    padding: 1rem;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
}
.singlepost-title {
    font-size: 2rem;
}

.prev-btn {
    align-self: start;
}

/* TOGGLE SWITCH */

.toggle-btn {
    background-color: #ccc5b9;
    /* border: 1px solid #aaa; */
    border: none;
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    position: relative;
}

.thumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 99px;
    z-index: 10;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.toggled {
    background-color: #403d39;
}
.toggled:hover {
    border-color: #bbb;
}

.toggle-btn.toggled .thumb {
    left: calc(50px - 25px);
}

.forms-text {
    margin: 0;
    font-size: 1rem;
}

/* LOGIN */

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
    width: 300px;
}

.forms-wrap {
    display: flex;
    /* width: 100%; */
    align-items: center;
    align-self: center;
    /* align-items: center; */

    gap: 0.5rem;
}

.log-btns {
    font-family: "Roboto";
    border: 0;
    background-color: #fffcf2;
    padding: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

input {
    border: 1px solid #d6d3d3;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.login-btn {
    padding: 0.5rem;
    background-color: #403d39;
    border-radius: 0.5rem;
    color: white;
    font-family: "Roboto";
    border: 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.singout-btn {
    align-self: center;
}

/* REGISTER FORM */

#form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 0.5rem;
}

.form-wrap {
    display: flex;
    gap: 0.5rem;
}

#form input {
    width: 100%;
}

.login-btn:hover {
    background-color: #aaa;
}

/* CREATE POST */

.create {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc5b9;
    /* border-radius: 1rem; */
    color: #252422;
}

#postForm {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.submit-post {
    padding: 1.2rem;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: #403d39;
    border-radius: 0.5rem;
    color: #fffcf2;
    font-family: "Roboto";
    border: 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#postForm input,
textarea {
    background-color: #ccc5b9;
    padding: 1rem;
    border: 1px solid #fffcf2;
}
