@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+TZ:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  height: 100vh;
  background-color: #fffcf2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.nav-links h2 {
  padding: 15px;
  font-size: 4rem;
  font-family: "Dancing Script";
}

ul {
  padding: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #252422;
  font-family: "Roboto";
  font-weight: 400;
}

.posts {
  display: grid;
  max-height: 250px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "posts0 posts1"
    "posts2 posts3";
  padding: 10rem;
  gap: 1rem;
}

.post {
  padding: 2rem;
}

.posts img {
  width: 25%;
}

.post-0 {
  grid-area: posts0;
}

.post-1 {
  grid-area: posts1;
}

.post-2 {
  grid-area: posts2;
}
.posts3 {
  grid-area: posts3;
}

/* SINGLE POST  */
.singlepost {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.singlepost-wrap {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.singlepost-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.singlepost-info {
  display: flex;
  width: 500px;
  gap: 0.5rem;
  color: #aaa;
}

.singlepost-nav {
  display: flex;
  gap: 2rem;
}

.singlepost-nav button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.singlepost-content {
  padding: 1rem;
}

.dot {
  height: 3px;
  width: 3px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
}
.singlepost-title {
  font-size: 2rem;
}

/* LOGIN */

.forms {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
}

.log-btns {
  font-family: "Roboto";
  border: 0;
  background-color: #fffcf2;
  padding: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

input {
  border: 1px solid #d6d3d3;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.login-btn {
  padding: 0.5rem;
  background-color: black;
  border-radius: 0.5rem;
  color: white;
  font-family: "Roboto";
  border: 0;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.login-btn:hover {
  background-color: #aaa;
}

/* CREATE POST */
.create {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc5b9;
  border-radius: 1rem;
  color: #252422;
}

#postForm {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit-post {
  padding: 1.2rem;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: #403d39;
  border-radius: 0.5rem;
  color: #fffcf2;
  font-family: "Roboto";
  border: 0;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#postForm input,
textarea {
  background-color: #ccc5b9;
  padding: 1rem;
  border: 1px solid #fffcf2;
}
